body {
  display: flex;
  flex-direction: column;
  background-image: url(./flip.gif);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
h1,
h2,
form,
button,
div,
h3 {
  align-self: center;
}
